doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Demo Website
  body
    .header
      h1.page-title Demo Website

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2017 BlaBla. BlaBla ® is a Registered Trademark of BlaBla (un)Ltd.
